* {
  box-sizing: border-box;
}
body {
  background-color: rgba(3, 18, 104, 0.322);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-size: 1.2rem;
}

.formContainer {
  width: 100%;
  min-width: 320px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px;
  box-shadow: 10px 10px 15px grey;
  background-color: rgb(3, 22, 104);
}
.title {
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 10px;
  text-shadow: 0px 0px 5px rgb(226, 211, 211);
}

.description {
  margin-bottom: 30px;
  text-shadow: 0 0 15px rgb(166, 63, 235);
}

.formWrap {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.labelWrap {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 40px;
}
.fullName {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
}

.fullName > input {
  flex: 1;
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  flex: 1;
}
.inputWrap {
  display: flex;
}
.inputPhoneWrap {
  display: flex;
  gap: 15px;
}

.inputPhoneWrap > input {
  flex: 1;
}
form input[type="text"],
form input[type="email"],
form input[type="tel"],
form select,
form textarea {
  outline: none;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
}
input:valid {
  border: 5px solid rgba(40, 121, 40, 0.815);
}
input:invalid {
  border: 5px solid rgba(255, 0, 0, 0.753);
}

form textarea {
  height: 100px;
  resize: none;
  border: none;
}
textarea:valid {
  border: 5px solid rgba(40, 121, 40, 0.815);
}
textarea:invalid {
  border: 5px solid rgba(255, 0, 0, 0.753);
}

select:valid {
  border: 5px solid rgba(40, 121, 40, 0.815);
}
select:invalid {
  border: 5px solid rgba(255, 0, 0, 0.753);
}
hr {
  color: azure;
  width: 100%;
}

.btn {
  background-color: transparent;
  border: 2px solid #fff;
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 0.2em;
  padding: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: #fff;
  color: rgb(3, 22, 104);
}
